@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tagesschrift&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 7em;
    padding: 1em;
    box-shadow: 2px 0px 5px 1px rgba(0, 0, 0, 0.19);
}

.navButtons {
    display: flex;
    gap: 1em;
}

h1 {
    font-family: "Tagesschrift", "Poppins", sans-serif;
    display: block;
    margin: auto;
    font-size: 2.5em;
}

button {
    padding: 13px 40px;
}

button#cadastro {
    background-color: rgb(28, 217, 255);
    border: none;
    color: white;
    border-radius: 3px;
}

button#login {
    background-color: white;
    border: 1px solid rgb(28, 217, 255);
    color: rgb(28, 217, 255);
    border-radius: 3px;
}